.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    
    background-color: rgba(255, 255, 255, 0.87);
    overflow: hidden;
    border: 2px solid black;
    border-radius: 1%;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(211, 211, 211, 0.5);
}

.topPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.image {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
}

.name {
    font-size: 24px;
    text-align: center;
    color: black;
    margin: 0;
}

.stats {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.listItem:first-child {
    border-left: none;
}

.listItem:last-child {
    border-right: none;
}

.listItem {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    box-sizing: border-box;
    border-bottom: none;
    background-color: lightgray;
    color: black;
    padding-bottom: 10px;
    font-weight: 700;
}

.tag {
    color: gray;
    margin: 0;
}

.location {
    color: gray;
    margin: 0;
}

.textStat {
    padding-top: 10px;
    color: black;
    font-weight: 400;
    margin: 4px;
}

.tag::before {
    content: "@";
}